
@{
    ViewData["Title"] = "Kurt Lexicon - Contact";
}

<h1>Contact</h1>

<p>
    Kurt Lexicon <br>
    c/o Lexicon Göteborg<br>
    Stora Badhusgatan 18-20<br>
    411 21 Göteborg<br>
    <br>
    Tel: +46-31 769 15 50<br>
    Email: kurt.lexicon@lexicon.se<br>
</p>
