
@{
    ViewData["Title"] = "Kurt Lexicon - Projects";
}

<h1>Projects</h1>

<ul class="projectlinks">
    <li><a target=_blank href="https://github.com/KurtLexicon/">Github</a></li>
    <li><a target=_blank href="https://sokoban-yzb9.onrender.com/">Sokoban</a></li>
</ul>
